.images {
    max-width: 780px;
    max-height: 517.97px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border: 2px solid white;
    border-radius: 5px;
    overflow: hidden;
}

.slider {
    display: flex;
}

a {
    text-decoration: none;
}

#map {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.image {
    width: 780px;
    height: 517.97px;    
}

.nextImage {
    cursor: pointer;
    position: absolute;
    background-color: #18191A;
    opacity: 0.5;
    transform: translate(730px, 200px);
    height: 100px;
    width: 50px;
    color: white;
}

.nextImage:hover {
    background-color: black;
    opacity: 1;
}

.prevImage {
    cursor: pointer;
    position: absolute;
    background-color: #18191A;
    opacity: 0.5;
    transform: translate(0, 200px);
    height: 100px;
    width: 50px;
    color: white;
} 

.prevImage:hover {
    background-color: black;
    opacity: 1;
}
.vertical {
    object-fit: contain;
}


@media all and (max-width: 780px) {
    .images {
        max-width: 550px;
        max-height: 363px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        
        border: 2px solid white;
        border-radius: 5px;
        margin-bottom: 1.5em;
    }
    .image {
        width: 550px;
        height: 363px;
    }
    .nextImage {
        cursor: pointer;
        position: absolute;
        background-color: #18191A;
        opacity: 0.5;
        transform: translate(500px, 130px);
        height: 100px;
        width: 50px;
        color: white;
    }

    .nextImage:hover {
        background-color: black;
        opacity: 1;
    }

    .prevImage {
        cursor: pointer;
        position: absolute;
        background-color: #18191A;
        opacity: 0.5;
        transform: translate(0, 130px);
        height: 100px;
        width: 50px;
        color: white;
    } 

    .prevImage:hover {
        background-color: black;
        opacity: 1;
    }
    .vertical {
        object-fit: contain;
    }
}

@media all and (max-width: 600px){
    .images {
        max-width: 300px;
        max-height: 198px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        
        border: 2px solid white;
        border-radius: 5px;
        margin-bottom: 1.5em;
    }
    .image {
        width: 300px;
        height: 198px;
    }
    .nextImage {
        cursor: pointer;
        position: absolute;
        background-color: #18191A;
        opacity: 0.5;
        transform: translate(250px, 50px);
        height: 100px;
        width: 50px;
        color: white;
    }

    .nextImage:hover {
        background-color: black;
        opacity: 1;
    }

    .prevImage {
        cursor: pointer;
        position: absolute;
        background-color: #18191A;
        opacity: 0.5;
        transform: translate(0, 50px);
        height: 100px;
        width: 50px;
        color: white;
    } 

    .prevImage:hover {
        background-color: black;
        opacity: 1;
    }
    .vertical {
        object-fit: contain;
    }
}




