.course-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}
.images {
    display: flex;
    overflow: hidden;
}

a {
    text-decoration: none;
}



.vertical {
    object-fit: contain;
}

/* #map {
    border: 0;
} */

.image {
    width: 400px;
    height: auto;
    min-height: 265px;
    max-height: 265px;
    border-bottom: 2px solid white;
}

.course {
    width: 400px;
    height: 325px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 1.5em;
    
    
}


.course-header {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right-arrow {
    cursor: pointer;
    position: absolute;
    background-color: #18191A;
    opacity: 0.5;
    transform: translate(350px, 80px);
    height: 100px;
    width: 50px;
    color: white;
}

.right-arrow:hover {
    background-color: black;
    opacity: 1;
}

.left-arrow {
    cursor: pointer;
    position: absolute;
    background-color: #18191A;
    opacity: 0.5;
    transform: translate(0, 80px);
    height: 100px;
    width: 50px;
    color: white;
}

.left-arrow:hover {
    
    background-color: black;
    opacity: 1;
}

@media all and (max-width: 640px) {
    .course {
        width: 300px;
        height: 225px;
        border: 2px solid white;
        border-radius: 5px;
        margin-bottom: 1.5em;
    }

    .image {
        width: 300px;
        height: auto;
        
        min-height: 183px;
        max-height: 183px;
        border-bottom: 2px solid white;
    }
    .right-arrow {
        transform:translate(250px, 50%)
    }

    .left-arrow {
        transform:translate(0px, 50%)
    }

    .course-header {
        transform:translateY(-15px)
    }
        
}