.images {
    max-width: 780px;
    max-height: 517.97px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* overflow: hidden; */
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 1.5em;
    transition: all 1s;
}

#map {
    width: 780px;
    height:517.97px;
    overflow: hidden;
}

.slider {
    display: flex;
}

a {
    text-decoration: none;
}


.image {
    width: 780px;
    height: 517.97px;
    
    
}

.nextImage {
    cursor: pointer;
    position: absolute;
    background-color: #18191A;
    opacity: 0.5;
    transform: translate(730px, 200px);
    height: 100px;
    width: 50px;
    color: white;
}

.nextImage:hover {
    background-color: black;
    opacity: 1;
}

.prevImage {
    cursor: pointer;
    position: absolute;
    background-color: #18191A;
    opacity: 0.5;
    transform: translate(0, 200px);
    height: 100px;
    width: 50px;
    color: white;
} 

.prevImage:hover {
    background-color: black;
    opacity: 1;
}





