body {
    background-color: #14213d;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#logo {
    width: 300px;
    height: auto;
}

#socials {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#facebook {
    cursor: pointer;
    width: 42px;
    height: 42px;
    position: relative;
    z-index: -1;
    transform: translateY(-3px);
}


#insta {
    cursor: pointer;
    width: 37.5px;
    height: 37.5px;
    
}

header {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

nav {
    width: 300px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2b327a;
    border: 5px solid white;
    border-radius: 10px;
    position: relative;
    transform: translateY(-10px);
}

.navButton {
    width: 100px;
    height: 75px;
    border: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: #2b327a;
    border-radius: 5%;
}

.navButton:hover {
    cursor: pointer;
    background-color: #fad604;
    color: #2b327a;
}

h1 {
    text-align: center;
    font-size: 50px;
}

@media all and (max-width: 640px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

#h-img {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.bylaws-h2 {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}

.bylaws-h3 {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}
footer {
    display: flex;
    flex-direction: row;
}
.footer-link {
    
    color: white;
    text-decoration: none;
    justify-content: center;

}
.footer-social {
    color: white;
    justify-content: flex-end;
}

p {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}
.navCourse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-list {
    visibility: hidden;
    width: 300px;
    background-color: #2b327a;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    transform: translateY(75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #fad604;
}

.navCourse:hover #course-list{
    visibility: visible;


}

.map {
    width: 500px;
}
